* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: top center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #df8e00;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

p {
  color: rgba(245, 245, 245, 0.7);
  text-align: center;
  font-size: 18px;
}

button {
  border-radius: 16px;
  font-size: 18px;
  padding: 10px 15px;
  color: #fff;
  border: none;
  background-color: rgb(46, 96, 223);
  border-bottom: 3px solid #2e2d2b;
}

main {
  color: #fff;
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  font-size: 24px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 5px;
}

.location .date {
  font-size: 16px;
}

.current .temp {
  font-size: 45px;
  font-weight: 800;
  margin: 25px 0px;
  text-shadow: 2px 5px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  font-size: 30px;
  font-weight: 500;
}

.current img {
  font-size: 16px;
  font-weight: 700;
}

.current .weather,
.current img {
  font-style: italic;
  margin-bottom: 5px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .feel,
.current .hi-low,
.current .humi,
.current .wind {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
}
